@font-face {
    font-family: "AcehSoft-Bold";
    src: url("../../fonts/AcehSoft-Bold.woff2"), format("woff2");
}

@font-face {
    font-family: "AcehSoft-semiBold";
    src: url("../../fonts/AcehSoft-SemiBold.woff2"), format("woff2");
}

@font-face {
    font-family: "AcehSoft-Regular";
    src: url("../../fonts/AcehSoft-Regular.woff2"), format("woff2");
}